*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.pyc
*.pyo
node_modules
bower_components/
npm-debug.log
.module-cache
.*.sw*

# extract-text-webpack-plugin error https://blog.csdn.net/gezilan/article/details/80020417
# https://segmentfault.com/a/1190000006178770